:root {
  --clr-theme-1: hls(0, 91%, 71%);
  --clr-theme-2: hls(182, 91%, 71%);
  --clr-theme-3: hls(284, 89%, 74%);

  --clr-text: hls(227, 100%, 92%);

  --clr-bg-1: hls(235, 35%, 18%);
  --clr-bg-1: hls(234, 39%, 14%);

  --fw-700: 700
}